#show-menu {
        float: left;
        width: 8%;
        height: 100%;
        margin-left:20%;
        background: #ffffff;
    }
    .menu-cont {
        position: relative;
        width: 90%;
        height: 99%;
        margin: 0 auto;
        padding-top: 1rem;
        box-sizing: border-box;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }
    .logo, .file, .download-file {
        width: 100%;
        color: #42b983;
        text-align: center;
        font-size: 1.2rem;
        margin-bottom: 2rem;
    }
    .logo a{
        color: #42b983;
    }
    .file .file-des {
        font-size: 1.6rem;
    }
    .download-file {
        position: absolute;
        bottom: 2rem;
    }
    .logo, .file, .download-file:hover {
        cursor: pointer;
    }
    .download-choice {
        position: absolute;
        z-index: 9999;
        bottom: 3.5rem;
        left: 110%;
        width: 35rem;
        text-align: center;
        background: #ffffff;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }
    .setdpi{
        display: inline-block;
        padding: 1rem;
        font-size: 1.6rem;
        color: #3ca777;
    }
    .custom{
        display: inline-block;
        width: 10rem;
        font-size: 1.6rem;
        color: #3ca777;
    }
    .custom input{
        width: 5rem;
        text-align: right;
    }
    .ok-choice{
        display: inline-block;
        text-align: center;
        border: 1px solid #4cd195;
        border-radius: 6px;
        padding: 1px 8px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }
    .ok-choice:hover{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0);
        cursor: pointer;
    }